.container{
    background-color: rgb(125, 125, 125);
        /* width: 1080px; */
        width: 75vw; /*vh viewport widght, viewport é 
        a página que está sendo exibida */
        height: 100vh; /*vh viewport height, viewport é 
        a página que está sendo exibida */
        margin: 0 auto;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 80px 200px;
}
.grid-item{
background-color:white;
border: 1px solid black;
padding: 30px;
font-size: 30px;
text-align: center;
}